<?xml version="1.0"?>

<!--
    * This file is part of the Monri Payments module
    *
    * (c) Monri Payments d.o.o.
    *
    * @author Favicode <contact@favicode.net>
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <monri_payments>
                <!-- Merchant-configurable settings -->
                <active>0</active>
                <title>Monri Payments</title>
                <payment_action>authorize</payment_action>

                <client_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <client_authenticity_token backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <!-- /Merchant-configurable settings -->

                <!-- Internal config -->
                <model>MonriPaymentsFacade</model>
                <allowspecific>0</allowspecific>
                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_order>0</can_order>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_refund>1</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <!-- /Internal config -->
            </monri_payments>

            <monri_components>
                <!-- Merchant-configurable settings -->
                <active>0</active>
                <title>Monri Components</title>
                <payment_action>authorize</payment_action>

                <client_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <client_authenticity_token backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <!-- /Merchant-configurable settings -->

                <!-- Internal config -->
                <model>MonriComponentsFacade</model>
                <allowspecific>0</allowspecific>
                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_order>0</can_order>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_refund>1</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <!-- /Internal config -->
            </monri_components>

            <monri_wspay>
                <!-- user defined defaults -->
                <active>0</active>
                <title>WSPay Payment Gateway</title>
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <language>hr</language>
                <payment_action>authorize_capture</payment_action>
                <!--order_status>pending_payment</order_status-->
                <test_mode>0</test_mode>
                <debug>0</debug>
                <allowspecific>0</allowspecific>

                <!-- internals -->
                <model>WSPayFacade</model>
                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_order>0</can_order>
                <can_void>0</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>

            </monri_wspay>
        </payment>
    </default>
</config>
