<?xml version="1.0"?>

<!--
    * This file is part of the Monri Payments module
    *
    * (c) Monri Payments d.o.o.
    *
    * @author Favicode <contact@favicode.net>
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Monri Payments base -->
    <virtualType name="MonriPaymentsFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Monri\Payments\Gateway\Config::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="commandPool" xsi:type="object">MonriPaymentsCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">MonriPaymentsValidatorPool</argument>
            <argument name="valueHandlerPool" xsi:type="object">MonriPaymentsValueHandlerPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriPaymentsValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">MonriPaymentsConfigHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriPaymentsConfigHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Monri\Payments\Gateway\Config</argument>
        </arguments>
    </virtualType>

    <type name="Monri\Payments\Gateway\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">monri_payments</argument>
        </arguments>
    </type>

    <virtualType name="MonriPaymentsValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">MonriPaymentsCountryValidator</item>
                <item name="currency" xsi:type="string">Monri\Payments\Gateway\Validator\CurrencyValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriPaymentsCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config</argument>
        </arguments>
    </virtualType>
    <!-- END Monri Payments base -->

    <!-- Backend -->
    <type name="Monri\Payments\Block\Adminhtml\Config\DownloadLog">
        <arguments>
            <argument name="loggerHandler" xsi:type="object">MonriPaymentsVirtualDebugHandler</argument>
        </arguments>
    </type>

    <type name="Monri\Payments\Controller\Adminhtml\Log\Download">
        <arguments>
            <argument name="loggerHandler" xsi:type="object">MonriPaymentsVirtualDebugHandler</argument>
        </arguments>
    </type>
    <!-- END Backend -->

    <!-- Commands -->
        <!-- Command pool -->
    <virtualType name="MonriPaymentsCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="create_request" xsi:type="string">MonriPaymentsCreateRequestCommand</item>
                <item name="initialize" xsi:type="string">Monri\Payments\Gateway\Command\InitializeCommand</item>
                <item name="gateway_response" xsi:type="string">MonriPaymentsGatewayResponseCommand</item>
                <item name="capture" xsi:type="string">MonriPaymentsCaptureCommand</item>
                <item name="refund" xsi:type="string">MonriPaymentsRefundCommand</item>
                <item name="void" xsi:type="string">MonriPaymentsVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Monri\Payments\Gateway\Command\InitializeCommand">
        <arguments>
            <argument name="logger" xsi:type="object">MonriPaymentsLogger</argument>
        </arguments>
    </type>

        <!-- Commands manager -->
    <virtualType name="MonriPaymentsCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">MonriPaymentsCommandPool</argument>
        </arguments>
    </virtualType>

        <!-- Command definitions -->
    <virtualType name="MonriPaymentsCreateRequestCommand" type="Monri\Payments\Gateway\Command\Redirect\CreateRequestCommand">
        <arguments>
            <argument name="builder" xsi:type="object">MonriPaymentsRedirectRequest</argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriPaymentsCaptureCommand" type="MonriPaymentsBaseTransactionCommand">
        <arguments>
            <argument name="transferFactory" xsi:type="object">MonriPaymentsCaptureFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="MonriPaymentsCaptureFactory" type="Monri\Payments\Gateway\Http\OrderUpdateTransferFactory">
        <arguments>
            <argument name="resource" xsi:type="string">capture</argument>
        </arguments>
    </virtualType>


    <virtualType name="MonriPaymentsRefundCommand" type="MonriPaymentsBaseTransactionCommand">
        <arguments>
            <argument name="transferFactory" xsi:type="object">MonriPaymentsRefundFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="MonriPaymentsRefundFactory" type="Monri\Payments\Gateway\Http\OrderUpdateTransferFactory">
        <arguments>
            <argument name="resource" xsi:type="string">refund</argument>
        </arguments>
    </virtualType>


    <virtualType name="MonriPaymentsVoidCommand" type="MonriPaymentsBaseTransactionCommand">
        <arguments>
            <argument name="transferFactory" xsi:type="object">MonriPaymentsVoidFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="MonriPaymentsVoidFactory" type="Monri\Payments\Gateway\Http\OrderUpdateTransferFactory">
        <arguments>
            <argument name="resource" xsi:type="string">void</argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriPaymentsGatewayResponseCommand" type="Monri\Payments\Gateway\Command\GatewayResponseCommand">
        <arguments>
            <argument name="orderUpdateHandler" xsi:type="object">Monri\Payments\Gateway\Response\OrderUpdateHandler</argument>
            <argument name="validator" xsi:type="object">Monri\Payments\Gateway\Validator\DigestValidator</argument>
        </arguments>
    </virtualType>

            <!-- Base Transaction Management Command -->
    <virtualType name="MonriPaymentsBaseTransactionCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Monri\Payments\Gateway\Request\OrderUpdateBuilder</argument>
            <argument name="transferFactory" xsi:type="object">Monri\Payments\Gateway\Http\OrderUpdateTransferFactory</argument>
            <argument name="client" xsi:type="object">MonriPaymentsXmlClient</argument>
            <argument name="handler" xsi:type="object">Monri\Payments\Gateway\Response\OrderUpdateHandler</argument>
            <argument name="validator" xsi:type="object">Monri\Payments\Gateway\Validator\TransferResponseValidator</argument>
            <argument name="logger" xsi:type="object">MonriPaymentsVirtualLogger</argument>
            <argument name="errorMessageMapper" xsi:type="object">MonriPaymentsErrorsWithRawMapper</argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayFormCancelCommand" type="Monri\Payments\Gateway\Command\WSPay\Form\ResponseCommand">
        <arguments>
            <argument name="validator" xsi:type="object">Monri\Payments\Gateway\Validator\WSPay\Form\ResponseValidator</argument>
            <argument name="handler" xsi:type="object">Monri\Payments\Gateway\Response\WSPay\Form\CancelHandler</argument>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\WSPay</argument>
            <argument name="logger" xsi:type="object">WSPayLogger</argument>
            <argument name="commandName" xsi:type="string">form_response_cancel</argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayFormSuccessCommand" type="Monri\Payments\Gateway\Command\WSPay\Form\ResponseCommand">
        <arguments>
            <argument name="validator" xsi:type="object">Monri\Payments\Gateway\Validator\WSPay\Form\ResponseValidator</argument>
            <argument name="handler" xsi:type="object">WSPayFormCaptureHandler</argument>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\WSPay</argument>
            <argument name="logger" xsi:type="object">WSPayLogger</argument>
            <argument name="commandName" xsi:type="string">form_response_success</argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayFormPaymentReviewCommand" type="Monri\Payments\Gateway\Command\WSPay\Response\PaymentReviewCommand">
        <arguments>
            <argument name="validator" xsi:type="object">Monri\Payments\Gateway\Validator\WSPay\Form\ResponseValidator</argument>
            <argument name="handler" xsi:type="object">Monri\Payments\Gateway\Response\WSPay\Form\PaymentReviewHandler</argument>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\WSPay</argument>
            <argument name="logger" xsi:type="object">WSPayLogger</argument>
            <argument name="commandName" xsi:type="string">form_response_payment_review</argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayCallbackCommand" type="Monri\Payments\Gateway\Command\WSPay\CallbackCommand">
        <arguments>
            <argument name="validator" xsi:type="object">Monri\Payments\Gateway\Validator\WSPay\CallbackValidator</argument>
            <argument name="handler" xsi:type="object">WSPayFormCaptureHandler</argument>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\WSPay</argument>
            <argument name="logger" xsi:type="object">WSPayLogger</argument>
        </arguments>
    </virtualType>

    <type name="Monri\Payments\Gateway\Command\WSPay\BuildFormDataCommand">
        <arguments>
            <argument name="logger" xsi:type="object">WSPayLogger</argument>
        </arguments>
    </type>
        <!-- END Command definitions -->
    <!-- END Commands -->


    <!-- Requests -->
    <virtualType name="MonriPaymentsRedirectRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customer" xsi:type="string">Monri\Payments\Gateway\Request\Redirect\CustomerInfoBuilder</item>
                <item name="order" xsi:type="string">Monri\Payments\Gateway\Request\Redirect\OrderDetailsBuilder</item>
                <item name="processing" xsi:type="string">Monri\Payments\Gateway\Request\Redirect\ProcessingDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- END Requests -->

    <!-- Responses -->
    <type name="Monri\Payments\Gateway\Response\OrderUpdateHandler">
        <arguments>
            <argument name="logger" xsi:type="object">MonriPaymentsLogger</argument>
            <argument name="transactionHandlers" xsi:type="array">
                <item name="purchase" xsi:type="string">Monri\Payments\Gateway\Response\Transactions\PurchaseHandler</item>
                <item name="authorize" xsi:type="string">Monri\Payments\Gateway\Response\Transactions\AuthorizeHandler</item>
                <item name="refund" xsi:type="string">Monri\Payments\Gateway\Response\Transactions\RefundHandler</item>
                <item name="capture" xsi:type="string">Monri\Payments\Gateway\Response\Transactions\CaptureHandler</item>
            </argument>
            <argument name="unsuccessfulTransactionHandler" xsi:type="object">Monri\Payments\Gateway\Response\Transactions\UnsuccessfulHandler</argument>
        </arguments>
    </type>

    <type name="Monri\Payments\Gateway\Response\Transactions\UnsuccessfulHandler">
        <arguments>
            <argument name="logger" xsi:type="object">MonriPaymentsLogger</argument>
        </arguments>
    </type>

    <virtualType name="WSPayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Monri\Payments\Gateway\Config\WSPay</argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayFormCaptureHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="capture" xsi:type="string">Monri\Payments\Gateway\Response\WSPay\Form\CaptureHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- END Responses -->

    <!-- Controllers -->
        <!-- Redirect gateway -->
    <type name="Monri\Payments\Controller\Redirect\Form\Data">
        <arguments>
            <argument name="commandManager" xsi:type="object">MonriPaymentsCommandManager</argument>
            <argument name="logger" xsi:type="object">MonriPaymentsLogger</argument>
        </arguments>
    </type>

    <type name="Monri\Payments\Controller\Redirect\Success">
        <arguments>
            <argument name="commandManager" xsi:type="object">MonriPaymentsCommandManager</argument>
            <argument name="logger" xsi:type="object">MonriPaymentsLogger</argument>
        </arguments>
    </type>

    <type name="Monri\Payments\Controller\Redirect\Cancel">
        <arguments>
            <argument name="commandManager" xsi:type="object">MonriPaymentsCommandManager</argument>
            <argument name="logger" xsi:type="object">MonriPaymentsLogger</argument>
        </arguments>
    </type>

    <type name="Monri\Payments\Controller\WSPay\Success">
        <arguments>
            <argument name="command" xsi:type="object">WSPayFormSuccessCommand</argument>
        </arguments>
    </type>
    <type name="Monri\Payments\Controller\WSPay\Callback">
        <arguments>
            <argument name="command" xsi:type="object">WSPayCallbackCommand</argument>
        </arguments>
    </type>
    <type name="Monri\Payments\Controller\WSPay\Cancel">
        <arguments>
            <argument name="command" xsi:type="object">WSPayFormCancelCommand</argument>
            <argument name="paymentReviewCommand" xsi:type="object">WSPayFormPaymentReviewCommand</argument>
        </arguments>
    </type>
        <!-- END Redirect gateway -->

        <!-- Gateway callback -->
    <type name="Monri\Payments\Controller\Gateway\Callback">
        <arguments>
            <argument name="commandManager" xsi:type="object">MonriPaymentsCommandManager</argument>
            <argument name="logger" xsi:type="object">MonriPaymentsLogger</argument>
        </arguments>
    </type>
    <!-- END Controllers -->

    <!-- Logger -->
    <virtualType name="MonriPaymentsLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">MonriPaymentsVirtualLogger</argument>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriPaymentsVirtualLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">MonriPaymentsVirtualDebugHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayVirtualLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">MonriPaymentsVirtualDebugHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriPaymentsVirtualDebugHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/monri_payments.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayLogger" type="MonriPaymentsLogger">
        <arguments>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\WSPay</argument>
        </arguments>
    </virtualType>


    <virtualType name="MonriComponentsLogger" type="MonriPaymentsLogger">
        <arguments>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\Components</argument>
        </arguments>
    </virtualType>
    <!-- END Logger -->

    <!-- HTTP Clients -->
    <type name="Monri\Payments\Gateway\Http\Client">
        <arguments>
            <argument name="logger" xsi:type="object">MonriPaymentsLogger</argument>
        </arguments>
    </type>

    <virtualType name="MonriPaymentsXmlClient" type="Monri\Payments\Gateway\Http\Client">
        <arguments>
            <argument name="requestType" xsi:type="string">application/xml</argument>
            <argument name="serializer" xsi:type="object">Monri\Payments\Gateway\Http\Serializer\Xml</argument>
        </arguments>
    </virtualType>

    <type name="Monri\Payments\Gateway\Http\WSPay\JsonClient">
        <arguments>
            <argument name="paymentLogger" xsi:type="object">WSPayLogger</argument>
        </arguments>
    </type>
    <!-- END HTTP Clients -->

    <!-- Errors Map -->
    <virtualType name="MonriPaymentsErrorsMapReader" type="Magento\Payment\Gateway\ErrorMapper\VirtualConfigReader">
        <arguments>
            <argument name="fileName" xsi:type="string">monri_payments_errors_map.xml</argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriPaymentsErrorsMapData" type="Magento\Payment\Gateway\ErrorMapper\MappingData">
        <arguments>
            <argument name="reader" xsi:type="object">MonriPaymentsErrorsMapReader</argument>
            <argument name="cacheId" xsi:type="string">monri_payments_error_mapper_data</argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriPaymentsErrorsMapper" type="Monri\Payments\Gateway\ErrorMapper\ErrorMessageMapper">
        <arguments>
            <argument name="messageMapping" xsi:type="object">MonriPaymentsErrorsMapData</argument>
            <argument name="mapRawMessages" xsi:type="boolean">false</argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriPaymentsErrorsWithRawMapper" type="MonriPaymentsErrorsMapper">
        <arguments>
            <argument name="mapRawMessages" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>
    <!-- /Errors Map -->

    <virtualType name="MonriComponentsFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Monri\Payments\Gateway\Config\Components::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>

            <argument name="valueHandlerPool" xsi:type="object">MonriComponentsValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">MonriComponentsValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">MonriComponentsCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriComponentsValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">MonriComponentsConfigHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriComponentsConfigHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Monri\Payments\Gateway\Config\Components</argument>
        </arguments>
    </virtualType>

    <type name="Monri\Payments\Gateway\Config\Components">
        <arguments>
            <argument name="methodCode" xsi:type="const">Monri\Payments\Gateway\Config\Components::CODE</argument>
        </arguments>
    </type>

    <virtualType name="MonriComponentsValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">MonriComponentsCountryValidator</item>
                <item name="currency" xsi:type="string">Monri\Payments\Gateway\Validator\CurrencyValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriComponentsCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\Components</argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriComponentsDigest" type="Monri\Payments\Model\Crypto\Digest">
        <arguments>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\Components</argument>
        </arguments>
    </virtualType>


    <virtualType name="MonriComponentsCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">MonriComponentsInitializeCommand</item>
                <item name="create_payment" xsi:type="string">MonriComponentsCreatePaymentCommand</item>
                <item name="capture" xsi:type="string">MonriComponentsCaptureCommand</item>
                <item name="refund" xsi:type="string">MonriComponentsRefundCommand</item>
                <item name="void" xsi:type="string">MonriComponentsVoidCommand</item>
                <item name="cancel" xsi:type="string">MonriComponentsVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriComponentsCreatePaymentCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Monri\Payments\Gateway\Request\Components\OrderDetailsBuilder</argument>
            <argument name="transferFactory" xsi:type="object">Monri\Payments\Gateway\Http\Components\PaymentCreateTransferFactory</argument>
            <argument name="client" xsi:type="object">MonriComponentsJsonClient</argument>
            <argument name="handler" xsi:type="object">Monri\Payments\Gateway\Response\Components\PaymentCreateHandler</argument>
            <argument name="logger" xsi:type="object">MonriPaymentsVirtualLogger</argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriComponentsInitializeCommand" type="Monri\Payments\Gateway\Command\Components\AuthorizeCommand">
        <arguments>
            <argument name="validator" xsi:type="object">Monri\Payments\Gateway\Validator\Components\OrderValidator</argument>
            <argument name="handler" xsi:type="object">Monri\Payments\Gateway\Response\Components\Transactions\InitializeHandler</argument>
            <argument name="logger" xsi:type="object">MonriPaymentsVirtualLogger</argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriComponentsCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">MonriComponentsCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriComponentsJsonClient" type="Monri\Payments\Gateway\Http\Client">
        <arguments>
            <argument name="requestType" xsi:type="string">application/json</argument>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
        </arguments>
    </virtualType>

    <type name="Monri\Payments\Controller\Components\CreatePayment">
        <arguments>
            <argument name="commandManager" xsi:type="object">MonriComponentsCommandManager</argument>
            <argument name="logger" xsi:type="object">MonriComponentsLogger</argument>
        </arguments>
    </type>

    <type name="Monri\Payments\Gateway\Request\Components\OrderUpdateBuilder">
        <arguments>
            <argument name="digest" xsi:type="object">MonriComponentsDigest</argument>
        </arguments>
    </type>

    <!-- base component command -->
    <virtualType name="MonriPaymentsComponentBaseTransactionCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Monri\Payments\Gateway\Request\Components\OrderUpdateBuilder</argument>
            <argument name="transferFactory" xsi:type="object">Monri\Payments\Gateway\Http\OrderUpdateTransferFactory</argument>
            <argument name="client" xsi:type="object">MonriPaymentsXmlClient</argument>
            <argument name="handler" xsi:type="object">MonriComponentsOrderUpdateHandler</argument>
            <argument name="validator" xsi:type="object">Monri\Payments\Gateway\Validator\TransferResponseValidator</argument>
            <argument name="logger" xsi:type="object">MonriPaymentsVirtualLogger</argument>
            <argument name="errorMessageMapper" xsi:type="object">MonriPaymentsErrorsWithRawMapper</argument>
        </arguments>
    </virtualType>
    <!-- END base component command -->

    <!-- Monri lock manager start-->
    <preference for="Monri\Payments\Lock\Order\LockInterface" type="Monri\Payments\Lock\Order"/>
    <type name="Monri\Payments\Lock\Order">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Config</argument>
        </arguments>
    </type>
    <!-- Monri lock manager end-->

    <virtualType name="MonriComponentsOrderUpdateHandler" type="Monri\Payments\Gateway\Response\OrderUpdateHandler">
        <arguments>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\Components</argument>
        </arguments>
    </virtualType>

    <!-- capture components command start -->
    <virtualType name="MonriComponentsCaptureCommand" type="MonriPaymentsComponentBaseTransactionCommand">
        <arguments>
            <argument name="transferFactory" xsi:type="object">MonriComponentsCaptureFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="MonriComponentsCaptureFactory" type="Monri\Payments\Gateway\Http\OrderUpdateTransferFactory">
        <arguments>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\Components</argument>
            <argument name="resource" xsi:type="string">capture</argument>
        </arguments>
    </virtualType>
    <!-- capture components command end -->


    <!-- void components command start -->
    <virtualType name="MonriComponentsVoidCommand" type="MonriPaymentsComponentBaseTransactionCommand">
        <arguments>
            <argument name="transferFactory" xsi:type="object">MonriComponentsVoidFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="MonriComponentsVoidFactory" type="Monri\Payments\Gateway\Http\OrderUpdateTransferFactory">
        <arguments>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\Components</argument>
            <argument name="resource" xsi:type="string">void</argument>
        </arguments>
    </virtualType>
    <!-- void components command end -->

    <!-- refund components command start -->
    <virtualType name="MonriComponentsRefundCommand" type="MonriPaymentsComponentBaseTransactionCommand">
        <arguments>
            <argument name="transferFactory" xsi:type="object">MonriComponentsRefundFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="MonriComponentsRefundFactory" type="Monri\Payments\Gateway\Http\OrderUpdateTransferFactory">
        <arguments>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\Components</argument>
            <argument name="resource" xsi:type="string">refund</argument>
        </arguments>
    </virtualType>
    <!-- refund components command end -->


    <!-- WSPay gateway configuration -->
    <virtualType name="WSPayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Monri\Payments\Gateway\Config\WSPay::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">WSPayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">WSPayCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">WSPayValidatorPool</argument>
        </arguments>
    </virtualType>

    <!-- Base Transaction Management Command -->
    <virtualType name="WSPayBaseTransactionCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Monri\Payments\Gateway\Request\WSPay\FormDataBuilder</argument>
            <argument name="transferFactory" xsi:type="object">Monri\Payments\Gateway\Http\WSPay\OrderUpdateTransferFactory</argument>
            <argument name="client" xsi:type="object">Monri\Payments\Gateway\Http\WSPay\JsonClient</argument>
            <argument name="handler" xsi:type="object">Monri\Payments\Gateway\Response\OrderUpdateHandler</argument>
            <argument name="validator" xsi:type="object">Monri\Payments\Gateway\Validator\WSPay\TransferResponseValidator</argument>
            <argument name="logger" xsi:type="object">WSPayVirtualLogger</argument>
            <argument name="errorMessageMapper" xsi:type="object">MonriPaymentsErrorsWithRawMapper</argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">WSPayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">Monri\Payments\Gateway\Command\InitializeCommand</item>
                <item name="form_response_cancel" xsi:type="string">WSPayFormCancelCommand</item>
                <item name="form_response_success" xsi:type="string">WSPayFormSuccessCommand</item>
                <item name="form_response_payment_review" xsi:type="string">WSPayFormPaymentReviewCommand</item>
                <item name="callback" xsi:type="string">WSPayCallbackCommand</item>
                <item name="refund" xsi:type="string">WSPayRefundCommand</item>
                <item name="capture" xsi:type="string">WSPayCaptureCommand</item>
                <item name="void" xsi:type="string">WSPayVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>


    <virtualType name="WSPayCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\WSPay</argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="currency" xsi:type="string">Monri\Payments\Gateway\Validator\WSPay\CurrencyValidator</item>
                <item name="country" xsi:type="string">WSPayCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayRefundFactory" type="Monri\Payments\Gateway\Http\WSPay\OrderUpdateTransferFactory">
        <arguments>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\WSPay</argument>
            <argument name="resource" xsi:type="string">refund</argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayRefundCommand" type="WSPayBaseTransactionCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Monri\Payments\Gateway\Request\WSPay\OrderApiBuilder</argument>
            <argument name="transferFactory" xsi:type="object">WSPayRefundFactory</argument>
        </arguments>
    </virtualType>


    <virtualType name="WSPayCaptureFactory" type="Monri\Payments\Gateway\Http\WSPay\OrderUpdateTransferFactory">
        <arguments>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\WSPay</argument>
            <argument name="resource" xsi:type="string">completion</argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayCaptureCommand" type="WSPayBaseTransactionCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Monri\Payments\Gateway\Request\WSPay\OrderApiBuilder</argument>
            <argument name="transferFactory" xsi:type="object">WSPayCaptureFactory</argument>
        </arguments>
    </virtualType>


    <virtualType name="WSPayVoidFactory" type="Monri\Payments\Gateway\Http\WSPay\OrderUpdateTransferFactory">
        <arguments>
            <argument name="config" xsi:type="object">Monri\Payments\Gateway\Config\WSPay</argument>
            <argument name="resource" xsi:type="string">void</argument>
        </arguments>
    </virtualType>

    <virtualType name="WSPayVoidCommand" type="WSPayBaseTransactionCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Monri\Payments\Gateway\Request\WSPay\OrderApiBuilder</argument>
            <argument name="transferFactory" xsi:type="object">WSPayVoidFactory</argument>
        </arguments>
    </virtualType>

</config>
