<?xml version="1.0"?>

<!--
    * This file is part of the Monri Payments module
    *
    * (c) Monri Payments d.o.o.
    *
    * @author Favicode <contact@favicode.net>
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="monripayments_csrf_validator_skip" type="Monri\Payments\Plugin\CallbackCsrfSkip" />
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="monri_components_checkout_config_provider" xsi:type="object">Monri\Payments\Model\CheckoutConfigProvider</item>
                <item name="monri_wspay_config_provider" xsi:type="object">Monri\Payments\Model\Ui\WSPay\ConfigProvider</item>
                <item name="monri_payments_config_provider" xsi:type="object">Monri\Payments\Model\Ui\Redirect\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Monri\Payments\Controller\WSPay\Callback">
        <arguments>
            <argument name="paymentLogger" xsi:type="object">WSPayLogger</argument>
        </arguments>
    </type>

    <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="monri_wspay" xsi:type="object">Monri\Payments\Model\Ui\WSPay\TokenUiComponentProvider</item>
                <item name="monri_payments" xsi:type="object">Monri\Payments\Model\Ui\Redirect\TokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>
</config>
