<?xml version="1.0"?>

<!--
    * This file is part of the Monri Payments module
    *
    * (c) Monri Payments d.o.o.
    *
    * @author Favicode <contact@favicode.net>
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="monripayments" frontName="monripayments">
            <module name="Monri_Payments" before="Magento_Backend"/>
        </route>
    </router>
</config>
