<?xml version="1.0"?>

<!--
    * This file is part of the Monri Payments module
    *
    * (c) Monri Payments d.o.o.
    *
    * @author Favicode <contact@favicode.net>
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="monri_payments" translate="label" type="text"
                   sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Monri Redirect</label>
                <field id="active" translate="label" type="select" sortOrder="0"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Monri Payments Version - 1.5.1]]></comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="client_key" translate="label comment" type="obscure" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Key</label>
                    <comment><![CDATA[Obtain this value from your Monri Administration dashboard.]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="client_authenticity_token" translate="label comment" type="obscure" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authenticity Token</label>
                    <comment><![CDATA[Obtain this value from your Monri Administration dashboard.]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="language" translate="label comment" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Language</label>
                    <comment><![CDATA[The language that will be used when a customer is redirected to Monri.]]></comment>
                    <source_model>Monri\Payments\Block\Adminhtml\Config\Source\Languages</source_model>
                </field>
                <field id="transaction_type" translate="label" type="select" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Transaction Type</label>
                    <source_model>Monri\Payments\Block\Adminhtml\Config\Source\TransactionTypes</source_model>
                </field>
                <field id="installments" translate="label" type="select" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Installments</label>
                    <source_model>Monri\Payments\Block\Adminhtml\Config\Source\Installments</source_model>
                </field>
                <field id="supported_payment_methods" translate="label" type="multiselect" sortOrder="65"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional Payment Methods</label>
                    <source_model>Monri\Payments\Block\Adminhtml\Config\Source\Redirect\SupportedPaymentMethodsAction</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="sandbox" translate="label" type="select" sortOrder="70"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="80"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="download_log" type="button" sortOrder="90"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Monri\Payments\Block\Adminhtml\Config\DownloadLog</frontend_model>
                    <depends>
                        <field id="*/*/debug">1</field>
                    </depends>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="100"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="110"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="120"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="monri_components" translate="label" type="text"
                   sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Monri Components</label>
                <field id="active" translate="label" type="select" sortOrder="0"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Monri Payments Version - 1.5.1]]></comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="client_key" translate="label comment" type="obscure" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Key</label>
                    <comment><![CDATA[Obtain this value from your Monri Administration dashboard.]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="client_authenticity_token" translate="label comment" type="obscure" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authenticity Token</label>
                    <comment><![CDATA[Obtain this value from your Monri Administration dashboard.]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="language" translate="label comment" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Language</label>
                    <comment><![CDATA[The language that will be used for Monri form on Checkout.]]></comment>
                    <source_model>\Monri\Payments\Block\Adminhtml\Config\Source\Components\Languages</source_model>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Transaction Type</label>
                    <source_model>Monri\Payments\Block\Adminhtml\Config\Source\TransactionTypes</source_model>
                </field>
                <field id="allow_installments" translate="label" type="select" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Installments</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sandbox" translate="label" type="select" sortOrder="70"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="80"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="download_log" type="button" sortOrder="90"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Monri\Payments\Block\Adminhtml\Config\DownloadLog</frontend_model>
                    <depends>
                        <field id="*/*/debug">1</field>
                    </depends>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="100"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="110"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="120"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="monri_wspay" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Monri WSPay</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Monri Payments Version - 1.5.1]]></comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="shop_id" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shop ID</label>
                    <comment>This is sometimes referenced as TokenID in provided credentials.</comment>
                </field>
                <field id="secret_key" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Secret Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="language" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Language</label>
                    <source_model>Monri\Payments\Block\Adminhtml\Config\Source\WSPay\Language</source_model>
                    <comment><![CDATA[The language that will be used when a customer is redirected to WSPay.]]></comment>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>Monri\Payments\Block\Adminhtml\Config\Source\PaymentAction</source_model>
                    <comment><![CDATA[Needs to be set to action arranged with WSPay for gateway to function properly.]]></comment>
                </field>

                <field id="vault_active" translate="label" type="select" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Tokenization for Card Payments</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/monri_wspay_vault/active</config_path>
                </field>

                <field id="vault_shop_id" translate="label" type="text" sortOrder="54" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Tokenization Shop ID</label>
                    <config_path>payment/monri_wspay_vault/shop_id</config_path>
                    <depends>
                        <field id="vault_active">1</field>
                    </depends>
                </field>
                <field id="vault_secret_key" translate="label" type="obscure" sortOrder="56" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Tokenization Secret key</label>
                    <config_path>payment/monri_wspay_vault/secret_key</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="vault_active">1</field>
                    </depends>
                </field>

                <field id="test_mode" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Test mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="download_log" type="button" sortOrder="90"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Monri\Payments\Block\Adminhtml\Config\DownloadLog</frontend_model>
                    <depends>
                        <field id="*/*/debug">1</field>
                    </depends>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="130" showInDefault="9"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="140" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="transaction_info_in_order" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Transaction info in order</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Show Monri transaction info on Thank You page. Required by some banks.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
